@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
	0% {
		transform: translatey(0);
	}
	50% {
		transform: translatey(-1rem);
	}
	100% {
		transform: translatey(0);
	}
}

::-webkit-scrollbar {
  @apply w-1.5
}

::-webkit-scrollbar-track {
  @apply bg-pale-gray-900
}

::-webkit-scrollbar-thumb{
  @apply bg-green-400 hover:bg-green-500 rounded-lg 
}
